.nav {
  height: 120px;
  width: 100%;
  background: rgb(0, 0, 0);
  top: 0;
  display: flex;
  flex-direction: column;
  position: sticky;
  border-bottom: 1px solid white;
  z-index: 100;
}

.top_nav {
  background-color: rgb(5, 5, 5);
  height: 30%;
  width: 100%;
}

.nav_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  height: 80%;
  color: rgb(0, 0, 0);
  align-items: center;
}

.nav_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin: 0 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo-container {
  width: 10%;
}

.li {
  color: rgb(0, 0, 0);
  font-size: x-large;
  margin: 20px 4%;
  font-display: block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.li:hover {
  color: rgb(255, 0, 0);
}

.li:active {
  color: blue;
}

/* .quote-btn {
  height: 40px;
  width: 170px;
  background-color: rgb(5, 5, 5);
  border-radius: 5px;
  border: 1px solid rgb(5, 5, 5);
  color: white;
} */

.header-links-container {
  display: flex;
  gap: 20px; /* Adds space between each link item */
}

.image-container {
  max-width: 60%; /* Ensures container width doesn't exceed screen size */
  max-height: 80%;
  margin: 0 auto; /* Centers the container */
}

/* Optional additional styles for the image itself */
.responsive-image {
  border-radius: 8px; /* Rounds the corners */
  object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
}

.main-nav-links {
  display: none;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1440px) {
  .li {
    font-size: x-large;
  }
}

@media (max-width: 1290px) {
    .li {
        font-size: larger;
      }
}

@media (max-width: 1024px) {
 .li {
    font-size: large;
  }

  .quote-btn {
    font-size: small;
  }
}
/* Medium Screens (Tablets, 768px to 1024px) */
@media screen and (min-width: 768px) {
  .hidden {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2px;
    width: 100%;
  }
  .hamburger,
  .mobile-menu {
    display: none;
  }
  .burger-menu-container {
    display: none;
  }
  .main-nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .quote-btn {
    height: 40px;
    width: 15%;
    background-color: rgb(5, 5, 5);
    border-radius: 5px;
    border: 1px solid rgb(5, 5, 5);
    color: white;
    text-align: center;
    align-content: center;
  }

  .header-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Small Screens (Phones, 480px to 767px) */
@media screen and (max-width: 768px) {
  .nav_container {
    justify-content: space-around;
  }
  .hidden {
    display: none;
  }
  .header-content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger-menu-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: auto;
    position: absolute;
  }
  .hamburger {
    display: block;
    width: 150px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: center;
    align-items: flex-end;
    line-height: 0.5;
    width: 120px;
    top: 100%; /* Adjust position based on header height */
    right: 15%;
    background-color: #fff; /* Adjust background color */
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .quote-btn {
    height: 40px;
    width: 100px;
    justify-self: right;
    background-color: rgb(5, 5, 5);
    border-radius: 5px;
    border: 1px solid rgb(5, 5, 5);
    color: white;
    text-align: center;
    font-size: small;
    align-content: center;
  }
}
